*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(202, 204, 233);
    color: rgb(136, 14, 14);
    font-family: Arial, Helvetica, sans-serif;    
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; 
    display: grid;
    gap: 20px; 

    
    grid-template-columns: repeat(3,1fr);

    
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado{
    background: rgb(126, 126, 209);
    color: #fff;
    grid-area: encabezado; 
}

.contenedor .contenido{
    background: rgb(128, 197, 209);
    grid-area: contenido; 
}

.contenedor .sidebar{
    background: rgb(32, 207, 47);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
    animation-name: cambiarColor;
    animation-duration: 5s;
    animation-delay: 1s;
}
@keyframes cambiarColor {
    from {background-color: red;}
    to {background-color: rgb(32, 207, 47);}
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: rgb(129, 163, 48);
    color: rgb(10, 1, 1);
    height: 100px;
    /* display: flex; */
    display: grid;
    align-items: center;
    justify-content: center;

}

.contenedor .widget-1{
    grid-area: widget-1;     

}


.contenedor .widget-2{
    grid-area: widget-2; 
}

.contenedor .pie{
    background: rgb(144, 144, 185);
    color: #fff;
    grid-area: pie; 
    span{
        padding: ;;
    }
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}